rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Lock down all collections by default for client-side SDKs.
    // Database writes and queries are fully managed via secure backend Cloud Functions.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
